.bg-modal {
	width: 100%;
	height: 100vh;
	background-color: rgba(0, 0, 0, 0.7);
	position: fixed;
	top: 0;
	display: inline-flex;
	justify-content: center;
	align-items: center;
	display: none;
}

.modal-content {
	width: 30%;
	background-color: white;
	margin-top: 10px;
	opacity: 1;
	border-radius: 10px;
	padding: 30px;
	text-align: center;
	position: relative;
	box-sizing: border-box;
	border: 1px solid rgba(0,0,0,.1);
	box-shadow: 0 5px 10px rgba(0,0,0,.2);
}

.avatar-img {
	width: 100px;
	height: 100px;
	align-self: center;
	border-radius: 50%;
	overflow: hidden;
	position: absolute;
	top: calc(-100px/2);
	left: calc(50% -50px);
}

.modal-content h2 {
	margin-top: 20px;
	margin-bottom: 16px;
	color: blue;
	font-size: 30px;
}

.modal-content h6{
	margin-bottom: 16px;
}

.modal-content h2[class="ganti-password"]{
	margin-bottom: -10px;
}

.modal-content input {
	padding: 5px 0;
	margin-bottom: 30px;
	width: 100%;
	box-sizing: border-box;
	box-shadow: none;
	outline: none;
	border: none;
	border-bottom: 2px solid #999;
}

.modal-content input[type="submit"]{
	border-bottom: none;
	cursor: pointer;
	background: blue;
	color: #fff;
	margin-bottom: 0;
	text-transform: uppercase;
	border-radius: 20px;
	margin-bottom: 10px;
}

.modal-content form div{
	position: relative;
}

.modal-content form div label{
	position: absolute;
	top: 10px;
	left: 0;
	color: #999;
	transition: .5s;
	pointer-events: none;
}

.modal-content input:focus ~ label,
.modal-content input:valid ~ label{
	top: -12px;
	left: 0;
	color: blue;
	font-size: 12px;
	font-weight: bold;
}

.modal-content input:focus,
.modal-content input:valid {
	border-bottom: 2px solid blue;
}

.close {
	position: absolute;
	top: 10px;
	right: 20px;
	font-size: 42px;
	transform: rotate(45deg);
	cursor: pointer;
}

.modal-content p,
.modal-content a{
	position: relative;
	left: 0;
	font-size: 13px;
}