.column-card{
	width: 33%;
	float: left;
	padding: 0px 10px;
	text-align: center;
}

.row-card::after{
	content: "";
	display: table;
	clear: both;
}

@media screen and (max-width: 600px){
	.column-card{
		width: 100%;
		display: block;
		margin-bottom: 20px;
	}
}

.card{
	box-shadow: 0 4px 8px 0 rgba(0,0,0,0.3);
	max-width: 400px;
	margin: auto;
	background: #56dcff;
	text-align: center;
	border-radius: 30px;
	padding-bottom: 15px;
}